.text {
  text-align: center; /* テキストを中央揃え */
  position: relative; /* 擬似要素用に設定 */
  margin: 18px 0; /* h4自体の上下余白を設定 */
  font-size: 20px; /* 文字の大きさを24pxに設定 */
}

.text::after {
  content: "";
  display: block;
  width: 96%; /* 線の幅 */
  height: 0.5px; /* 線の太さ */
  background-color: #a6a6a6; /* 線の色 */
  margin: 8px auto 16px; /* 線とその後の余白を調整 */
}

fieldset {
  border: 1px solid #a6a6a6; /* 枠線を設定 */
  padding: 10px;
  width: 500px;
  margin: 30px auto;
  box-sizing: border-box;
  border-radius: 8px;
}

.button {
  background-color: red;
  /* ボタンの背景色を赤に */
  color: white;
  /* ボタン内の文字色を白に */
  padding: 10px;
  /* ボタン内の上下・左右の余白を設定 */
  font-size: 15px;
  /* ボタン内の文字サイズを設定 */
  border: none;
  /* ボタンの枠線をなくす */
  border-radius: 5px;
  /* ボタンの角を丸くする */
  cursor: pointer;
  /* カーソルをポインタに変更 */
  width: 170px;
  /* ボタンの幅 */
  height: 40px;
  /* ボタンの高さ */
  text-align: center;
  /* ボタン内の文字を中央揃え */
  display: inline-block;
  /* ブロック化してデザイン調整 */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 25px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}