/* 合計金額を赤い文字で表示するクラス */
.red-text {
    color: red;
}

.box {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 800px;
    margin: 1rem auto;
}


/* 左側の画像スタイル */
.box__image {
    flex-shrink: 0;
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1.5rem;
}

/* 右側の詳細部分スタイル */
.box__details {
    flex-grow: 1;
}

/* 商品タイトルのスタイル */
.box__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* 商品説明のスタイル */
.box__description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}


/* ボタンのスタイル */
.box__button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.price {
    font-size: 28px;
}

.name {
    font-size: 18px;
}

.product__image {
    width: 25%;
    height: auto;
}