.box-container {
  display: flex;
  flex-wrap: wrap; /* ボックスが折り返して2列に配置されるように */
  gap: 2rem; /* ボックス間の隙間を調整 */
}

.box {
  display: flex;
  align-items: flex-start;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 500px;
  margin: 2rem;
}


/* 左側の画像スタイル */
.box__image {
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1.5rem;
  /* 画像と詳細部分の間隔を調整 */
}

右側の詳細部分スタイル
.box__details {
  flex-grow: 1;
}