header {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 10vw;
}
.search__box {
    display: flex;
    align-items: center;
    position: relative;
}
.search__bar {
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: 1px solid #ccc;
}
.header__icon {
    font-size: 1.5rem;
    margin-left: 1rem;
}
header img {
    width: 40%;
    height: 20%;
}
