/*囲み枠 中身を中心にする*/
.parent {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  margin: 20px auto;
}
.box {
  border: 1px solid #a6a6a6;
  padding: 20px;
  width: 500px;
  text-align: center;
}
/*ここまで*/

/*ボタンを横並びにする*/
.button-form {
  display: inline-flex;/* 横並びにするためにinline-flexを使用 */
  margin-right: 10px;/* ボタン間のスペースを調整 */
}

/*ボタンの色大きさを変更1*/
.buttun1{
    background-color: red; /* ボタンの背景色を赤に */
    color: white; /* ボタン内の文字色を白に */
    padding: 10px; /* ボタン内の上下・左右の余白を設定 */
    font-size: 15px; /* ボタン内の文字サイズを設定 */
    border: none; /* ボタンの枠線をなくす */
    border-radius: 5px; /* ボタンの角を丸くする */
    cursor: pointer; /* カーソルをポインタに変更 */
    width: 170px; /* ボタンの幅 */
    height: 40px; /* ボタンの高さ */
    text-align: center; /* ボタン内の文字を中央揃え */
    display: inline-block; /* ブロック化してデザイン調整 */
  }
  
  .buttun2{
    background-color: red; /* ボタンの背景色を赤に */
    color: white; /* ボタン内の文字色を白に */
    padding: 10px; /* ボタン内の上下・左右の余白を設定 */
    font-size: 20px; /* ボタン内の文字サイズを設定 */
    border: none; /* ボタンの枠線をなくす */
    cursor: pointer; /* カーソルをポインタに変更 */
    width: 270px; /* ボタンの幅 */
    height: 70px; /* ボタンの高さ */
    text-align: center; /* ボタン内の文字を中央揃え */
    display: inline-block; /* ブロック化してデザイン調整 */
    margin-top: 16px; /* 要素間の余白 */
  }