.star-button1 {
    background-color: yellow; /* お気に入り状態 */
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.star-button2 {
    background-color: gray; /* 非お気に入り状態 */
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
