/* 黄色の星 */
.star-button-yellow i {
    color: gold; /* 黄色 */
    font-size: 2rem; /* アイコンのサイズ */
}

/* 灰色の星 */
.star-button-gray i {
    color: gray; /* 灰色 */
    font-size: 2rem; /* アイコンのサイズ */
}

/* ボタンのスタイル */
.star-button-yellow, .star-button-gray {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
