@charset "UTF-8";
/*林*/
b {
  font-size: 50px;
}


body {
  background-color: #ffffff;
}

.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 1126px;
  position: relative;
}

/*ここから*-**/
/* 余白をなくすためのリセット */
html,
body {
  margin: 0;
  padding: 0;
}

.header {
  /*function.php*/
  display: flex;
  align-items: center;
  gap: 10px;
}

.shohin-container {
  display: flex;
  /*↓を設定するためのフレックスアイテム*/
  justify-content: space-between;
  /*均等に配置*/
  width: 100%;
}