b {
  font-size: 50px;
}


body {
  background-color: #ffffff;
}

.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 1126px;
  position: relative;
}

/*ここから*-**/
/* 余白をなくすためのリセット */
html,
body {
  margin: 0;
  padding: 0;
}

/* .header { */
/*function.php*/
/* display: flex; */
/* align-items: center; */
/* gap: 10px; */
/* } */

/* .shohin-container { */
/* display: flex; */
/*↓を設定するためのフレックスアイテム*/
/* justify-content: space-between; */
/*均等に配置*/
/* width: 100%; */
/* } */


header {
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-columns: 0.7fr 0.8fr 0.1fr 0.1fr 0.1fr 0.1fr;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1.5vw 1.5vw;
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  margin-left: 0;
  margin-right: 0;
  border-left: none;
  border-right: none;
  z-index: 100;/* 前面に表示するための値 */
}

.dummy_header {
  display: grid;
  width: 100%;
  grid-template-columns: 0.7fr 0.8fr 0.1fr 0.1fr 0.1fr 0.1fr;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 3vw;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  margin-left: 0;
  margin-right: 0;
  border-left: none;
  border-right: none;

}

.search__box {
  display: flex;
  align-items: center;
  position: relative;
}

.search__bar {
  width: 550px;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
}

.search__box button {
  position: absolute;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.search__box button:hover {
  background-color: #0056b3;
}


.header__icon {
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: #f5f5f5;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.header__icon:hover {
  background-color: #ddd;
}