
.label {
  width: 160px;
  height: 48px;
}
/* .label.text-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Inter-Regular",Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
} */

.label.text-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 中央に位置調整 */
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center; /* 文字を中央に揃える */
}
