
.label {
  width: 160px;
  height: 48px;
}
.text {
  text-align: center; /* テキストを中央揃え */
  position: relative; /* 擬似要素用に設定 */
  margin: 18px 0; /* h4自体の上下余白を設定 */
  font-size: 20px; /* 文字の大きさを24pxに設定 */
}

.text::after {
  content: "";
  display: block;
  width: 96%; /* 線の幅 */
  height: 0.5px; /* 線の太さ */
  background-color: #a6a6a6; /* 線の色 */
  margin: 8px auto 16px; /* 線とその後の余白を調整 */
}
